<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<html lang="en">
<head>
    <title>OpenCalAccess</title>
    {% include "styles.html" %}
    {% include "datatable.html" %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('#filings').DataTable(
                {
                    "columns": [
                        {"name": "Filing ID", "orderable": true},
                        {"name": "Filer ID", "orderable": true},
                        {"name": "Filer Name", "orderable": true},
                        {"name": "Filer Type", "orderable": true},
                        {"name": "Period", "orderable": true},
                        {"name": "Form", "orderable": true},
                        {"name": "Amounts",
                         "render": function(data, type, row, meta) {
                                       if (type === 'display' || type === 'filter') {
                                       return data;
                                    }
                                    else { // type is 'sort' in this case:
                                        return Number($.parseHTML(data)[0].innerHTML);
                                    }
                                }
                        },
                        {"name": "Rpt Covers", "orderable": false}
                    ]
                }
            );
        });
    </script>
</head>
<body>
<div style="padding: 25px 25px 25px 25px;">
    <p><a href="/calaccess">Home</a></p>
    <h2>
        {% if not filing_date_hi %}
        Filing Date: {{ filing_date }}
        {% else %}
        Filing Dates: {{ filing_date }} to {{ filing_date_hi }}
        {% endif %}
        {% if form_id %}
        - Form: {{ form_name }}
        {% endif %}
    </h2>
    <table id="filings" class="table">
        <thead>
            <tr>
                <th>Filing ID</th>
                <th>Filer ID</th>
                <th>Filer Name</th>
                <th>Filer Type</th>
                <th>Period</th>
                <th>Form</th>
                <th>Amounts</th>
                <th>Rpt Covers</th>
            </tr>
        </thead>
        <tbody>
            {% for filing in calaccess_filing_date %}
            <tr>
                <td><a href="/calaccess/filing_raw/{{ filing.filing_id }}">{{ filing.filing_id }}</a></td>
                <td><a href="/calaccess/filer_raw/{{ filing.filer_id }}">{{ filing.filer_id }}</a></td>
                <td>{{ filing.full_name }}</td>
                <td>{{ filing.filer_type }}</td>
                <td>{{ filing.period }}</td>
                <td>{{ filing.form_id }}</td>
                <td style = "white-space: nowrap;">
                    <div style="visibility: hidden;">{{ filing.amounts['sum'] }}</div>
                    {% for amount in filing.amounts %}
                    {% if amount != 'sum' %}
                    {{ amount }}:&nbsp;{{ filing.amounts[amount] }}<br/>
                    {% endif %}
                    {% endfor %}
                </td>
                {% if filing.rpt_start == filing.rpt_end %}
                <td>{{ filing.rpt_start }}</td>
                {% else %}
                <td>{{ filing.rpt_start }}<br/>{{ filing.rpt_end }}</td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</body>
</html>
