<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<html lang="en">
<head>
    <title>OpenCalAccess</title>
    {% include "styles.html" %}
</head>
<body>
<div style="padding: 25px 25px 25px 25px;">
    <h2>
        Filing Date: {{ filing_date }}
        {% if form_id %}
        - Form: {{ form_id }}
        {% endif %}
    </h2>
    <table class="table">
        <tr>
            <th>Filing ID</th>
            <th>Filer ID</th>
            <th>Filer Name</th>
            <th>Filer Type</th>
            <th>Period</th>
            <th>Form</th>
            <th>Rpt Covers</th>
        </tr>
        {% for filing in calaccess_filing_date %}
        <tr>
            <td><a href="/calaccess/filing_raw/{{ filing.filing_id }}">{{ filing.filing_id }}</a></td>
            <td><a href="/calaccess/filer_raw/{{ filing.filer_id }}">{{ filing.filer_id }}</a></td>
            <td>{{ filing.full_name }}</td>
            <td>{{ filing.filer_type }}</td>
            <td>{{ filing.period }}</td>
            <td>{{ filing.form_id }}</td>
            {% if filing.rpt_start == filing.rpt_end %}
            <td>{{ filing.rpt_start }}</td>
            {% else %}
            <td>{{ filing.rpt_start }}<br/>{{ filing.rpt_end }}</td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>
</div>
</body>
</html>
