<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<html lang="en">
<head>
    <title>OpenCalAccess</title>
    {% include "styles.html" %}
    <style>
        .nav-tabs > li > a{
            border: medium none;
        }
        .nav-tabs > li > a:hover{
            background-color: #c7c9ed !important;
            border: medium none;
            border-radius: 0;
            color:#fff;
        }
    </style>
</head>
<body>
<div style="padding: 25px 25px 25px 25px;">
    <p>
        PROTOTYPE application for accessing CalAccess data. This is a work-in-progress and is should
	only be used for entertainment purposes. Data was downloaded on 2022-11-14, but data cleaning,
	corrections and validation are NOT complete. Application logic is also not guaranteed.
	<b>Use at your own risk!</b>
    </p>
    <ul class="nav nav-tabs nav-justified">
        <li><a data-target="#campaign" data-toggle="tab">Campaign Filings</a></li>
        <li><a data-target="#lobbyist" data-toggle="tab">Lobbyist Filings</a></li>
        <li><a data-target="#others" data-toggle="tab">Other FIlings</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="campaign">
            {% include "calaccess_filings_campaign.html" %}
        </div>
        <div class="tab-pane" id="lobbyist">
            {% include "calaccess_filings_lobbyist.html" %}
        </div>
        <div class="tab-pane" id="others">
            {% include "calaccess_filings_others.html" %}
        </div>
    </div>
    <p>
        <a href="/calaccess/{{ nexts['prev_start'] }}/{{ nexts['prev_end'] }}">&lt;&lt;&lt;&nbsp;Previous</a>
        -
        <a href="/calaccess/{{ nexts['next_start'] }}/{{ nexts['next_end'] }}">Next&nbsp;&gt;&gt;&gt;<a/>
    </p>
</body>
</html>
