<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<html lang="en">
<head>
    <title>OpenCalAccess</title>
    {% include "styles.html" %}
</head>
<body>
<div style="padding: 25px 25px 25px 25px;">
    <p>
        PROTOTYPE application for accessing CalAccess data. This is a work-in-progress and is should
	only be used for entertainment purposes. Data was downloaded on 2022-11-14, but data cleaning,
	corrections and validation are NOT complete. Application logic is also not guaranteed.
	<b>Use at your own risk!</b>
    </p>
    <table class="table">
        <tr>
            <td>
                <table>
                    <tr>
                        <th>FilingDate</th>
                        <td>&nbsp;</td>
                        <th>Filings #</th>
                        {% for form_id in form_ids %}
                        <td>&nbsp;</td>
                        <td>{{ form_id }}</td>
                        {% endfor %}
                    </tr>
                    {% for cfront in front_dates %}
                        <tr>
                            <td><a href="/filingdate/{{ cfront.filing_date }}">{{ cfront.filing_date }}</a></td>
                            <td>&nbsp;&nbsp;</td>
                            <td>{{ cfront.count }}</td>
                            {% for form_id in form_ids %}
                            <td>&nbsp;&nbsp;</td>
                            <td>
                                {% if filing_counts[cfront.filing_date][form_id] > 0 %}
                                <a href="/filingdate/{{ cfront.filing_date }}/form_id/{{ form_id }}">{{ filing_counts[cfront.filing_date][form_id] }}</a>
                                {% else %}
                                0
                                {% endif %}
                            </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </table>
            </td>
        </tr>
    </table>
</div>
</body>
</html>
